/* This file is for testing purposes only and can safely be deleted */


.testing{
    &--lazyload{
      padding-bottom: 500px;
    }
    &__main-title{
      text-align: center;
    }
    &__title{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.25rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    &__secondary-title{
      text-align: center;
      text-transform: uppercase;
      font-size: 1.25rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
}
